@font-face {
  font-family: 'hand';
  src: url('https://fs.jeanhua.cn/d/tianyi/static/fonts/AaGuanWoJiuWang-TongWoYangChun-2.ttf?sign=4KAj9W6PzjNlHFOFhBLSgDWCeO7vURTFpxw-E0aTtQY=:0') format('truetype');
}

.hand-body {
  font-family: "hand";
}