@font-face {
  font-family: 'hand';
  src: url('https://fs.jeanhua.cn/d/ty/static/fonts/AaGuanWoJiuWang-TongWoYangChun-2.ttf?sign=v0VF5UNl7HUk_0jf6DK-ROuuxbc5Kfb-3OCn55dRYt0=:0') format('truetype');
}

.hand-body {
  font-family: "hand";
}